sudo: required
dist: trusty

services:
  - docker

language: cpp

# Compiler selection
compiler:
  - gcc

before_install:
  - wget --no-check-certificate https://ecsft.cern.ch/dist/cvmfs/cvmfs-release/cvmfs-release-latest_all.deb
  - sudo dpkg -i cvmfs-release-latest_all.deb
  - sudo apt-get update
  - sudo apt-get install cvmfs cvmfs-config-default
  - rm -f cvmfs-release-latest_all.deb
  - sudo mkdir -p /etc/cvmfs
  - touch default.local
  - echo "CVMFS_REPOSITORIES='ilc.desy.de'" >> default.local
  - echo "CVMFS_HTTP_PROXY=DIRECT" >> default.local
  - sudo mv default.local /etc/cvmfs/default.local
  - sudo cvmfs_config setup
  - sudo cvmfs_config probe
  - sudo /etc/init.d/autofs stop
  - sudo mkdir -p /cvmfs/ilc.desy.de
  - sudo mount -t cvmfs ilc.desy.de /cvmfs/ilc.desy.de
  - ls /cvmfs/ilc.desy.de

# command to install dependencies
install:
  - mkdir Package
  - export PKGDIR=${PWD}/Package

# command to run tests
script:
  - docker run -it --name CI_container -v $PKGDIR:/Package -e COMPILER=gcc -v /cvmfs/ilc.desy.de:/cvmfs/ilc.desy.de -d clicdp/slc6-build /bin/bash
  - docker exec -it CI_container /bin/bash -c "./Package/.travis-ci.d/build.sh";
